<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="faceservice.mapper.keyMapper" >
    <resultMap id="BaseResultMap" type="faceservice.model.keyModel" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="face_token" property="face_token" jdbcType="VARCHAR" />
        <result column="group_name" property="group" jdbcType="VARCHAR" />
        <result column="face" property="face" jdbcType="BINARY" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,face_token,group_name,face
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM table_1
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM table_1
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="faceservice.model.keyModel" >
        INSERT INTO
        table_1
        (id,group_name,face_token,face)
        VALUES
        (#{id},#{group},#{face_token}, #{face})
    </insert>

    <update id="update" parameterType="faceservice.model.keyModel" >
        UPDATE
        table_1
        SET
        <if test="face_token != null">face_token = #{face_token},</if>
        <if test="face != null">face = #{face}</if>

        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM
        table_1
        WHERE
        id =#{id}
    </delete>

</mapper>
